<div class="container-fluid bg-dark">
    <div class="container">
        <a href="/admin" class="btn btn-secondary mt-4 mb-4"> Volver a funciones de ADMIN</a>
        <a href="/admin/categorias/create" class="btn btn-secondary mt-4 mb-4 ms-4"><i class="fas fa-plus-circle"></i> AGREGAR CATEGORÍA</a>
        <div class="row d-flex justify-content-center">
            <h1 class="text-center text-light col-5 border border-light pt-1 pb-1 mt-4 mb-5">TODAS LAS CATEGORÍAS</h1>
            <table class="table text-light">
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Imagen</th> 
                    <th></th>
                    <th></th>
                </tr>
                {{#each categorias}}
                <tr>
                    <td>{{nombre}}</td>
                    <td>{{descripcion}}</td>
                    <td><img src="/images/{{uuid}}" alt="No hay imagen." style="height : 50px"></td>
                    <td><a href="/admin/categorias/update/{{id}}" class="btn btn-primary"><i class="far fa-edit"></i> EDITAR</a></td>
                    <td><a href="/admin/categorias/delete/{{id}}" class="btn btn-danger"><i class="far fa-trash-alt"></i> ELIMINAR</a></td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>