<div class="container-fluid bg-dark m-0" style="height: 100vh;">
    <a href="/admin/empleados" class="btn btn-secondary mt-4 mb-2 ms-5"> Volver a los empleados</a>
    <div class="row justify-content-center align-items-center" style="height: 80vh">
        <div class="col-5 text-light">
            <h1 class="text-center mb-5">DATOS DEL EMPLEADO</h1>
            <form method="POST" action="/admin/empleados/update/{{empleado.id}}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="nombre">Nombre:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="nombre" id="nombre" value="{{empleado.nombre}}">
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="apellido" id="apellido" value="{{empleado.apellido}}">
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono:<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" name="telefono" id="telefono" value="{{empleado.telefono}}">
                </div>
                <div class="form-group">
                    <label for="direccion">Dirección:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="direccion" id="direccion" value="{{empleado.direccion}}">
                </div>
                <div class="form-group mt-4">
                    <label for="imagen">Editar imagen:<span class="text-danger">*</span></label>
                    <input type="file" name="imagen" id="imagen">
                </div>
                <div class="d-grid gap-2">
                    <p class="text-danger text-center mt-4">{{message}}</p>
                    <button type="submit" class="btn btn-secondary mt-0"><i class="far fa-edit"></i> EDITAR EMPLEADO</button>
                </div>
            </form>
        </div>
    </div>
</div>